body{
    background-color:blueviolet;
    background-size: cover;
    height:800px;
}
.style{
   
    width: 110%;
    height:400%;
    padding: 35px;
    background-color: white;
    border: 1px solid;

}